@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

/**
 * Common styles.
 */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5em;
    font-family: "OpenSans", sans-serif;
    color: #6f6867;
    background: linear-gradient(#aac5e0, #e6ebef);
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.inner-container {
    padding: 5% 5%;
}

.page-layout {
    width: 100%;
    margin: 0 auto;
}

.main {
    width: 100%;
}

.header {
    width: 100%;
}

.header .header-wrapper {
    width: 100%;
}

.header .title {
    margin-bottom: 1%;
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
}

.section-title {
    padding-bottom: 1em;
    font-weight: normal;
    color: #4a4a44;
}

a.icon {
    font-size: 1.5rem;
    color: #3e6c94;
}

a.icon:hover {
    color: #37a2ff;
}

a.icon:active {
    color: #3e6c94a6;
}

.footer {
    width: 100%;
    height: 3%;
    padding: 5px 5px;
    text-align: right;
    background-color: #2f3b47;
}

.footer a.icon {
    font-size: 1rem;
    color: #b1cadf;
}

.footer a.icon:hover {
    color: #97cbd4;
}

.footer a.icon:active {
    color: #97cbd473;
}

@media screen and (min-width: 1280px) {
    .page-layout {
        width: 80%;
    }
}

/**
 * Styles for left-column.
 */

.left-column {
    float: left;
    width: 25%;
    height: 100vh;
    background-color: #fff;
}

.left-column .header {
    height: 6%;
}

.header .header-wrapper {
    position: relative;
}

.header .header-wrapper a.icon-back {
    position: absolute;
    left: 5%;
}

.header .header-search {
    position: relative;
    width: 95%;
    margin: 0 auto;
}

.header .header-search a.icon {
    position: absolute;
}

.header .header-search a.icon-search {
    top: 10%;
    right: 10%;
    font-size: 1rem;
}

.header .header-search a.icon-reload {
    top: 10%;
    right: 2%;
    font-size: 1rem;
}

.header .header-search input#search {
    width: 100%;
    padding: 0.5em 0.5em;
    border: 1px solid #615c5c2e;
}

.header .header-search input#search::placeholder {
    font-size: 0.875rem;
    font-style: italic;
}

/**
* Styles for order-history.
*/

#order-history {
    width: 100%;
    height: 91%;
    overflow-y: scroll;
}

#order-history .inner-container {
    position: relative;
}

.order {
    border-bottom: 1px solid #615c5c2e;
}

.order.active {
    background-color: #e8eff7;
}

.order .order-number {
    margin-bottom: 2%;
    font-size: 1rem;
    font-weight: 400;
    color: #4a4a44;
}

.order .order-details {
    font-size: 0.875rem;
}

.order .delivery-details {
    position: absolute;
    top: 10%;
    right: 5%;
}

.order .delivery-details .delivery-created {
    margin-bottom: 5%;
    font-size: 1.5rem;
    color: #4a4a44;
}

.order .delivery-details .delivery-status {
    font-size: 0.875rem;
    text-align: right;
}

.order .delivery-details .delivery-status.in-time {
    color: #1b9633;
}

.order .delivery-details .delivery-status.urgent {
    color: #cb4031;
}

.footer {
    border-right: 1px solid #fff;
}

.footer a.icon.icon-filter {
    margin-right: 1em;
}

.footer a.icon.icon-list {
    margin-right: 0.8em;
}

/**
* Styles for right-column.
*/

.right-column {
    float: left;
    width: 75%;
    height: 100vh;
}

.right-column .header {
    height: 3%;
    border-bottom: 1px solid #cfdfec;
    background-color: #eff4f8;
}

.right-column .inner-container {
    padding: 3% 5%;
}

/**
* Styles for section order-desc.
*/
.order-desc {
    width: 100%;
    height: 30%;
    border-bottom: 2px solid #cfdfec;
    background-color: #eff4f8;
}

.order-desc .order-desc-details {
    position: relative;
    margin-bottom: 5%;
}

#order-desc-number {
    margin-bottom: 1em;
    font-size: 1.5rem;
    font-weight: normal;
    color: #4a4a44;
}

.order-desc .order-desc-info p.info-item {
    font-size: 0.875rem;
}

.order-desc-actions {
    width: 100%;
    padding-top: 3rem;
}

.order-desc-actions a.icon-action {
    float: left;
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 2rem;
    border: 1px solid #427cac;
    border-radius: 50% 50%;
}

.order-desc-actions a.icon-action.active {
    background-color: #427cac;
}

.order-desc-actions a.icon-action.active:before {
    padding-bottom: 2.2rem;
    border-bottom: 2px solid #427cac;
    color: #fff;
}

.order-desc-actions a.icon-action:before {
    content: '';
    position: absolute;
    display: block;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "FontAwesome";
    font-size: 1.5rem;
    color: #427cac;
}

.order-desc-actions a.icon-action#icon-truck:before {
    content: '\f0d1';
}

.order-desc-actions a.icon-action#icon-person:before {
    content: '\f007';
}

.order-desc .order-desc-price {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}

.order-desc .order-desc-price .price {
    display: block;
    font-size: 1.25rem;
}

.order-desc .order-desc-price .currency {
    font-size: 0.75rem;
    text-transform: uppercase;
}

/**
* Styles for section order-shipping-info.
*/

.order-shipping-info, .order-customer-info {
    display: none;
    width: 100%;
    height: 24%;
    border-bottom: 2px solid #cfdfec;
    background-color: #fff;
}

.order-shipping-info .section-title, .order-customer-info .section-title {
    border-bottom: 1px solid #615c5c59;
}

.order-shipping-info .table-wrapper, .order-customer-info .table-wrapper {
    padding: 2% 0;
}

.shipping-info, .customer-info {
    border-collapse: collapse;
}

.shipping-info .col-1, .customer-info .col-1 {
    padding-left: 5em;
    text-align: right;
}

.shipping-info .col-2, .customer-info .col-2 {
    padding-left: 1em;
    color: #4a4a44;
}

.order-shipping-info.active, .order-customer-info.active {
    display: block;
}

/**
* Styles for section order-content.
*/

.order-content {
    width: 100%;
    height: 40%;
    overflow-y: scroll;
    background-color: #fafafa;
}

.products-table {
    width: 100%;
    border-top: 1px solid #615c5c59;
    border-bottom: 1px solid #615c5c59;
    border-collapse: collapse;
}

.products-table .table-row:not(:last-of-type) {
    border-bottom: 2px solid #615c5c12;
}

.products-table .cell-title {
    padding: 0.3em 1em;
    border-bottom: 2px solid #615c5c2b;
    font-size: 1rem;
    font-weight: normal;
    color: #4a4a44;
    background-color: #f7f7f7;
}

.products-table td {
    padding: 0.3em 1em;
}

.products-table .col-1 {
    text-align: left;
}

.products-table .col-2,
.products-table .col-3 {
    text-align: center;
}

.products-table .col-4 {
    text-align: right;
}

.products-table .prdct-name {
    font-weight: bold;
    color: #000;
}

.products-table .prdct-code {
    display: block;
}

.products-table .prdct-price,
.products-table .prdct-total-price {
    font-weight: bold;
}

.products-table .prdct-currency {
    font-size: 0.875rem;
    text-transform: uppercase;
}

.footer a.icon.icon-envelope {
    margin-right: 1em;
}